<app-header (myEvent)="search($event)"></app-header>
<div class="main">
        <div *ngIf="expandTextArea==false; else elseBlock" (click)="expand()" class="innermain">
            <textarea class="innermain" id="content" name="content" rows="1" placeholder="Write your note here..."></textarea>
        </div>
        <ng-template #elseBlock>
            <div class="innermain">
                <input class="innermain" type="text" name="title" placeholder="Title" #title [(ngModel)]="ctitle" />
            </div>
            <div class="innermain">
                <textarea class="innermain" id="content" name="content" rows="3" #content [(ngModel)]="ctext" placeholder="Write your note here..."></textarea>
            </div>
            <div>
                <button class="bi bi-plus-square-fill" (click)="createNote()"></button>
                <button class="bi bi-x-square-fill" (click)="collapse()"></button>
            </div>
        </ng-template>                
</div>
<div *ngIf="keyword===''; else found">
    <div *ngFor="let x of arr" class="note">
        <div class="title">
            {{x.title}}
        </div>
        <div>
            {{x.content}}
        </div>
        <div>
            <button class="bi bi-trash button" (click)="deleteNote(x)">Delete</button>
        </div>
    </div>
</div>
<ng-template #found>
    <div *ngFor="let x of tempArr" class="note">
        <div class="title">
            {{x.title}}
        </div>
        <div>
            {{x.content}}
        </div>
        <div>
            <button class="bi bi-trash button" (click)="deleteNote(x)">Delete</button>
        </div>
    </div>
</ng-template>